body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgb(247, 203, 203), rgb(255, 255, 255));
  display: block;
  font-family: "Unbounded", cursive;
  color: rgb(54, 54, 54);
}

.div-header {
  height: 100px;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

.h1-header {
  margin-bottom: 5px;
}

.logo-header {
  width: 60px;
}

.div-input {
  display: flex;
  justify-content: center;
}

#input-main {
  font-family: "Unbounded", cursive;
  border: none;
  border-radius: 5%;
  text-align: center;
  cursor: pointer;
}

#button-main {
  border: none;
  height: 28px;
  font-size: 10px;
  border-radius: 5%;
}

#div-city {
  height: 40px;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

#div-meteo {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: white;
  border-radius: 5%;
  margin: auto;
}

#day1-meteo {
  width: 280px;
  height: 100px;
  background-color: rgb(255, 195, 195);
  color: rgb(54, 54, 54);
  border-radius: 5%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
  line-height: 25px;
}

.today {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.weatherD1 {
  font-size: 13px;
  font-style: italic;
}

.icon1 {
  margin-left: 10px;
  margin-right: -20px;
}

#day2-meteo {
  width: 280px;
  height: 100px;
  background-color: rgb(255, 224, 224);
  color: rgb(54, 54, 54);
  border-radius: 5%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
  line-height: 25px;
}

.dateD2 {
  font-size: 15px;
  letter-spacing: 2px;
}

.weatherD2 {
  font-size: 13px;
  font-style: italic;
}

#day3-meteo {
  width: 280px;
  height: 100px;
  background-color: rgb(255, 224, 224);
  color: rgb(54, 54, 54);
  border-radius: 5%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
  line-height: 25px;
}

.dateD3 {
  font-size: 15px;
  letter-spacing: 2px;
}

.weatherD3 {
  font-size: 13px;
  font-style: italic;
}

#day4-meteo {
  width: 280px;
  height: 100px;
  background-color: rgb(255, 224, 224);
  color: rgb(54, 54, 54);
  border-radius: 5%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
  line-height: 25px;
}

.dateD4 {
  font-size: 15px;
  letter-spacing: 2px;
}

.weatherD4 {
  font-size: 13px;
  font-style: italic;
}

#day5-meteo {
  width: 280px;
  height: 100px;
  background-color: rgb(255, 224, 224);
  color: rgb(54, 54, 54);
  border-radius: 5%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
  line-height: 25px;
}

.dateD5 {
  font-size: 15px;
  letter-spacing: 2px;
}

.weatherD5 {
  font-size: 13px;
  font-style: italic;
}

.footer {
  height: 80px;
}

@media screen and (min-width: 1023px) {
  .div-header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .logo-header {
    width: 120px;
    margin-top: 50px;
    margin-left: 30px;
  }
  #button-main {
    cursor: pointer;
    border: none;
    height: 35px;
    font-size: 20px;
    border-radius: 5%;
  }
  #div-city {
    height: 50px;
    padding: 15px;
    font-size: 20px;
  }
  #div-meteo {
    width: 900px;
    display: flex;
    flex-direction: row;
  }
  #day1-meteo {
    width: 280px;
    height: 200px;
  }
  .today {
    font-size: 25px;
    line-height: 50px;
  }
  .weatherD1 {
    margin-right: 5px;
  }
  .icon1 {
    margin-left: -20px;
  }
  #day2-meteo {
    width: 280px;
    height: 200px;
  }
  .dateD2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
  }
  .weatherD2 {
    margin-right: 5px;
  }
  #day3-meteo {
    width: 280px;
    height: 200px;
  }
  .dateD3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
  }
  .weatherD3 {
    font-style: italic;
    margin-right: 5px;
  }
  #day4-meteo {
    width: 280px;
    height: 200px;
  }
  .dateD4 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
  }
  .weatherD4 {
    margin-right: 5px;
  }
  #day5-meteo {
    width: 280px;
    height: 200px;
  }
  .dateD5 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
  }
  .weatherD5 {
    margin-right: 5px;
  }
}/*# sourceMappingURL=style.css.map */